---
layout: default
title: "아이디어 노트: 세계의 창업 아이디어 모음"
description: 해외의 새로운 창업 아이디어를 짧게 소개하는 아카이브. 아이디어 발굴용으로 훑어보고, 흥미로운 모델은 심층 케이스 분석에서 검증합니다.
permalink: /ideas/
---
<h1>아이디어 노트</h1>
<p class="section-desc">세계의 창업 아이디어를 짧게 소개하는 코너입니다. 훑어보며 영감을 얻으시고,
깊이 볼 가치가 있는 모델은 <a href="{{ '/cases/' | relative_url }}">심층 케이스 분석</a>으로 검증해 드립니다.
항목을 클릭하시면 소개 전문을 보실 수 있습니다.</p>
{% assign prev_month = "" %}
{% for post in site.categories.ideas %}
  {% assign this_month = post.date | date: "%Y년 %m월" %}
  {% if this_month != prev_month %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h2 class="archive-month">{{ this_month }}</h2>
    <ul class="archive-list">
    {% assign prev_month = this_month %}
  {% endif %}
  <li><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m.%d" }}</time><div class="idea-item"><a href="{{ post.url | relative_url }}">{{ post.title }}</a>{% if post.oneliner %}<span class="idea-sub">{{ post.oneliner }}</span>{% endif %}</div></li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
